@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "I Love My New Airfryer";
}

@*<!DOCTYPE html>
<html>
<head>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/css/StyleSheet.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
    <meta charset="utf-8" />
    <title>I Love My New Airfryer</title>
</head>
<body>*@

    <!-- Preferred Name -->
    <h1>Kayla</h1>

    <!-- I love going on temple dates with my boyfriend! -->
    <img  src="img/IMG-0744.JPG" style="max-width:50%" />
    <br>

    <!-- What I hope to get out of IS 413 -->
    <p>I hope to gain self confidence in my ability to code and resolve errors. Last semester I really struggled with getting discouraged when my code continued to run error after error. I want to learn a new language and solidify the processes for creating websites and other topics we'll cover in this class.'</p>

    <!-- Top 3 jobs I want to pursue after graduation -->
    <h1>Top 3 jobs</h1>
    <ul>
        <li>Mom!</li>
        <li>Web Developer</li>
        <li>Computer Systems Analyst</li>
        <li>bonus: Database Administrator</li>
    </ul>



    <br />
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

@*</body>
</html>*@